<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Supabase Auth Callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.micostechnologies.velocitycoasterchaser</string>
			</array>
		</dict>
	</array>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-8245053297432454~2896678539</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Velocity uses your location to find nearby parks, verify check-ins, and show you coasters in your area.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Velocity uses this to show you relevant ads. Upgrade to PRO for an ad-free experience.</string>
</dict>
</plist>
